.settingsmenu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;
  background-color: #343148ff; 
  overflow-x: hidden;
  transition: 0.5s;
}

.settingsmenu .closebtn {
position: absolute;
top: 2.3vw;
left: 11vw;
background-color: transparent;
outline: none;
border-style: none;
opacity: 1;
color: #d7c49eff;
font-size: 2.5vw;
cursor: pointer;
}


/*menu-content*/
.menu-content {
position: absolute;
top: 4vw;
width: 100%;
text-align: center;
margin-top: 30px;
font-family: "Lato";
}
