* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato" !important;
}
hr{
  border: 1px solid #d7c49eff;
}


/*the buttons*/
.otherbtns button {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #d7c49eff;
  padding-right: 40px;
  color: #343148ff;
  margin: 0px;
  font-size: 25px;
}
.otherbtns button:hover {
  opacity: 0.5;
}
/*footer*/
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
}
/*search*/
#uv-form {
  width: fit-content;
  height: fit-content;
  position: relative;
}
#uv-address {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #d7c49eff;
  padding-right: 40px;
  color: #fff;
}
#uv-address::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
#searchbtn {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #343148ff;
  background-color: transparent;
  pointer-events: painted;
}
#searchbtn:focus ~ #uv-address {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
#uv-address:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/*iframe*/
#iframe{
  height: 100vh;
  width: 100vw;
  bottom: 0; 
  border: 0;
}

/* quick menu*/
.quikmenu{
  position: fixed;
  background-color: transparent;
  border: none;
  border-radius: 5vw;
  padding: 1vw;
  top:-4.7vw;
  transition: all 0.3s ease-out;
  align-items: ho;
}
.quikmenu:hover{
  transform: translateY(5vw);
  border: 1px solid #d7c49eff;
  background-color: #343148ff;
}

.quikmenu button{
  height: 3vw;
  width: 3vw;
  border: 1px solid #d7c49eff;
  padding: 0.6vw;
  outline: none;
  border-radius: 1.5vw;
  background-color: transparent;
  color: #d7c49eff;
  margin: 0px;
  font-size: 1.5vw;
  cursor: pointer;
}
.quikmenu input{
  height: 3vw;
  border: 1px solid #d7c49eff;
  padding: 1vw;
  outline: none;
  border-radius: 1.5vw;
  background-color: transparent;
  padding: 0.6vw;
  color: #d7c49eff;
  margin: 0px;
  font-size: 1.5vw;
  letter-spacing: 2px;
}